<div class="controls">
  <select [(ngModel)]="selectedMode" (change)="changeMode()">
    <option [ngValue]="'political'" selected>political</option>
    <option [ngValue]="'continents'">continents</option>
    <option [ngValue]="'gdp'">GDP</option>
    <option [ngValue]="'gdpPerCapita'">GDP (Per Capita)</option>
    <option [ngValue]="'gdpPerCapitaPpp'">GDP (Per Capita, PPP)</option>
    <option [ngValue]="'population'">Population</option>
    <option [ngValue]="'gdpGrowth'">GDP Growth</option>
    <option [ngValue]="'gdpPppGrowth'">GDP PPP Growth</option>
    <option [ngValue]="'inflation'">Inflation</option>
    <option [ngValue]="'unemployment'">Unemployment</option>
    <option [ngValue]="'migration'">Migration</option>
    <option [ngValue]="'fertility'">Fertility Rate</option>
    <option [ngValue]="'populationDensity'">Population Density</option>
  </select>
</div>
