#worldMap {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  object-fit: contain;
}

#worldMap svg {
  width: 100%;
  min-height: 100vh;
  height: auto;
}
path {
  transition: 0.5s ease-in-out;
}

.country-label {
  font-size: 0.5em;
  fill: black;
}
